<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<% if @friends %>
  <% @friends.each do |f| %>
     <%f.full_name%>
  <%end%> 
  <div class="card card-header results-block">
     <%= @friends %>
    <%= link_to 'Follow friend?', '#',
                            class: "btn btn-sm btn-success", method: :post %>
  </div>
<% end %> 